body{
    padding: 0;
    margin: 0;
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
    background: #111;
    z-index: -1000;
}
.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    width: 70%;
    height: 100px;
    background: rgba(200, 200, 200, 0.7);
    border-radius: 20px;
    margin-top: 20px;
}
.bodyDiv{
    border-radius: 20px;
    background: rgba(200, 200, 200, 0.7);
    margin-top: 20px;
    width: 70%;
    height: 1000px;
}